* {
  font-family: "Inter", sans-serif;
}
header {
  z-index: 1;
}
.bg-black {
  --bs-bg-opacity: 1;
  background-color: rgb(32, 32, 32) !important;
}
.whatsappbtn {
  border: 2px solid #da4004;
  padding: 10px 18px;
  color: #da4004;
  font-size: 18px;
  font-weight: 700;
}
.whatsappbtn i {
  color: #da4004;
  padding-right: 7px;
}
.whatsappbtn:hover {
  border: 1px solid #da4004;
  color: #da4004;
}
.call {
  border: 1px solid #f8ac79;
  color: white;
  padding: 10px 18px;
  background: linear-gradient(to right, #f8ac79, #da4004);
  font-size: 18px;
}
.call i {
  padding-right: 7px;
}
.call:hover {
  border: 1px solid #da4004;
  color: white;
}
.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-brand div {
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
}
.navbar-brand div p {
  display: inline;
  align-items: center;
}
.navbar-brand div p {
  color: #ffffff;
}
.navbar-brand div span {
  font-size: 18px;
  color: #f35e23;
}
.navbar-brand img {
  height: 70px;
  width: 90px;
}

.bannerContent h1 {
  font-size: 52px;
  font-weight: 700;
}
.bannerContent h1 span {
  color: #f35e23;
}
.bannerContent p {
  font-size: 20px;
}
.bannerContent ul {
  list-style: none;
}
.bannerContent ul li {
  font-size: 18px;
}
.bannerContent ul li i {
  color: #f35e23;
}
.bannerContentBtn {
  font-size: 21px;
  width: 100%;
  padding: 10px 0px;
}
.bannerContentBtn button:first-child {
  background: linear-gradient(to right, #f8ac79, #da4004);
  color: #ffffff;
  border: 1px solid #f8ac79;
  border-radius: 5px;
}
/* hover */
.bannerContentBtn button:first-child:hover {
  background: linear-gradient(to right, #da4004, #f8ac79);
}
.bannerContentBtn button:last-child {
  border: 2px solid #f8ac79;
  background-color: transparent;
  border-radius: 5px;
}
/* hover */
.bannerContentBtn button:last-child:hover {
  background: linear-gradient(to right, #da4004, #f8ac79);
  color: #ffffff;
}

/* form */
.bannerForm {
  padding: 40px;
  border-radius: 10px;
}
.bannerForm h3 {
  font-size: 18px;
  font-weight: 700;
}
.bannerForm button {
  width: 100%;
  padding: 10px 0;
  border: none;
  background: linear-gradient(to right, #f8ac79, #da4004);
  color: white;
  border-radius: 5px;
}
.bannerForm button:hover {
  background: linear-gradient(to right, #da4004, #f8ac79);
}
.counterSection p {
  margin-bottom: 0;
  font-weight: 400;
  padding: 2px;
}
.counterSection h6 {
  font-size: 18px;
  font-weight: 700;
  padding: 3px;
}

.highlight-section {
  background-color: #dff0f7;
  color: #222222;
}
.highlight-section span {
  font-size: 18px;
}
.highlight-section img {
  height: 160px;
  width: 100%;
}

.hightlightsItems h4 {
  font-size: 20px;
  font-weight: 600;
}
.hightlightsItems p {
  font-size: 15px;
}
.tableitemContent ul {
  list-style: none;
}

footer {
  color: #ffffff;
}
footer h5 {
  color: #f35e23;
}

.whatsappLogo {
  position: sticky;
  top: 80vh;
  right: 20px;
  float: inline-end;
  color: #25d366;
  font-size: 50px;
  cursor: pointer;
}
